
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
}

header{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.nav-main{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.nav-main img{}
nav{}
nav ul{
    margin: 0;
    padding: 0;

}
nav ul li{
    display: inline;
    padding: 0 0 0 40px
}
nav ul li a{
    text-decoration: none;
    color:#3b506c;
    font-weight: 600;
    font-size: 17px;

}


.banner{
    text-align: center;
    margin: 100px 0 0;
}
.banner h1{
    font-size: 50px;
    color: #3b506c;
    margin: 0;
}
.banner h1 span{
    color: blue;
}
.banner p{
    font-size: 23px;
}
.banner img{
    width: 60%;
    margin: auto;
    margin: 30px 0 0 0;
}

/* == complete project===*/
.complete{
    display: flex;
}
.complete-child{
    width: 50%;
    text-align: right;
    padding: 28px;
}
.complete-child h2{
    font-size: 40px;
    color:#3b506c;
}
.child1{
    color: red !important;
}
.child2{text-align: left;
}
.complete child p{
}


.pic1{
    height: 350px;
    width:350px;
    display: inline-block;
    background: #ffb6c17d;
    justify-content: center;
}
.pic2{
    height:350px;
    width: 350px;
    display: inline-block;
    background-blend-mode: hue;
    background-color: limegreen;
    justify-content: center;
    
}
.pic3{
    height: 350px;
    width: 350px;;
    display:inline-block;
    border-collapse: separate;
    background-color: lightcoral;
    align-items: center;
    justify-content: center;

}